<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaEstoque.Telas.Properties.Settings.SistemaEstoqueConnectionString"
            connectionString="Data Source=DESKTOP-KQ61GO6\MSSQLSERVER01;Initial Catalog=SistemaEstoque;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>